body{
    background-image: url('../assets/img/vecteezy_yellow-mouse-ride-a-ball-background_25314633.jpg');
    background-size: cover;
}

.titlePoki{
    font-family: Pokimon;
    color: white;
    font-size: 50px;
}

.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60vh;
}
.container-seg{
    display: flex;
    justify-content: right;
    align-items: right;
    height: 0vh;
}

.container h1{
    font-size: 5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titleSub-poki{
    justify-content: left;
    text-align: right;
}

.text-poki{
    color: white;
    font-family: Pokimon;
    font-size: 25px;
}

.botton-group{
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 10px;
}

.formulario-poki{
    background-color: white;
    height: 90px;
    width: 30%;
    border-radius: 10PX;
    padding: 10px;
    box-shadow: #fff 0px 0px 20px;
    text-align: center;
}

table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

table td{
    font-family: Pokimon;
}

.botton-poki{
    background-color: red;
    color: white;
    border-radius: 20px;
    height: 50px;
    width: 60%;
    font-size: 15px;
    font-family: Pokimon;
    border: none;
    margin: 6px;
    margin-top: 17px;
    box-shadow: #fff 0px 0px 10px;
}

.botton-poki:hover{
    background-color: #fff;
    color: red;
    cursor: pointer;
    box-shadow: #000 0px 0px 10px;
    transition: 0.5s;
}

.input-poki{
    border: solid 1px red;
    border-radius: 10px;
    height: 20px;
    width: 90%;
    padding: 6px;
}

.link-poki{
    font-family: Pokimon;
    color: white;
}

.formulario{
   background-color: white;
   width: 30%;
   border-radius: 12px;
   padding: 12px;
}


@font-face {
    font-family: 'Pokimon';
    src: url('../assets/fuentes/Minecraft.ttf') format('truetype');
}