body{
    background-image: url("../assets/pokimon.webp");
    background-size: 98%;
}

h1{
    color:red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
color:firebrick;
}
button{
text-decoration-color: red;

}

